@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');

h1 {
    font-family: 'Gloria Hallelujah', cursive;
    background-color: gold;
    margin-top: -20px;
    padding: 10px;
}

h1 a {
    text-decoration: none;
}

h1 a:visited {
    color: black;
}